body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightcyan;
}

header {
    text-align: center;
}

header h1 {
    color: #756AB6;
}

header h2 {
    color: #756AB6;
    margin-top: -17px;
}

header p {
    color: #AC87C5;
    font-size: 15px;
    margin-top: -13px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inputSection {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 10px;
font-size: larger;
}

#s {
    outline: none;
    border-radius: 5px;
    border: solid #E0AED0;
    border-width: 2px;
    padding: 7.5px;
    margin-top: 10px;
}

#s:Focus {
    border: solid rgb(182, 76, 243);
    border-width: 2px;
}

button {
    background-color: #E0AED0;
    border-radius: 3px;
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

form{
    display: table;
    margin: auto;
    margin-top: 10px;
}

button:hover {
    background-color: #52D3D8;
}

button:active{
    background-color: beige;
    transform: translateY(3px);
}

#lblSquareSide{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #7360DF;
}

.hasil {
    display: table;
    margin: auto;
    justify-content: center;
    margin-top: 10px;
}